@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand {
    font-weight: bold;
    color: #ff5678;
    font-family: monospace;
}
.nav-link {
    color:white!important;
    margin-right: 15px;
}
.btn
{
    padding: 8px 16px;
    font-size: 0.9rem;
    margin:5px;
    border: 2px solid #666;
    border-radius: 5px;
    font-weight: bold;
}
#home .container {
    gap: 20px; /
}
.img-content img {
    max-width:50%;
    height: 50px;
}
.btn-primary:hover {
    background-color: #cfd2da;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
section{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand {
    font-weight: bold;
    color: #ff5678 !important;
    font-family: monospace;
}
.nav-link {
    color:white!important;
    margin-right: 15px;
}
#home .container {
    gap: 5px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
#home img {
    max-width: 70%;
    height: auto;
    margin-top: 20px;
}
.btn-primary:hover {
    background-color: #cfd2da;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
section{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.shot-card img {
    border-radius: 5px;
}
.shot-card {
    transition: transform 0.2s ease-in-out;
}
.shot-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
footer {
    background-color: #ffffff;
    color: #333;
    padding: 20px 0;
    text-align: center;
}
.hero-section h1 {
    font-size: 2.5rem;
    color: #333;
}
.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #666;
}
.shot-card img {
    border-radius: 5px;
    
}
.shot-card {
    transition: transform 0.2s ease-in-out;
}
.shot-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

footer {
   font-family:'Poppins', sans-serif;
    padding: 20px 0;
    text-align: center;
}

#home .row {
    width: 70%;
    max-width: 1200px; 
    margin: 0 auto; 
}

#home h1 {
    font-size: 2.5rem; 
    font-weight: 40 bold;
    margin-top: 40px;
    margin-right: 3px;
    font-family: 'Poppins', sans-serif;
}

#home p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

